*{
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 10px;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-thumb{
    background: brown;
    border-radius: 20px;
}
html::-webkit-scrollbar-thumb:hover{
    background: chocolate;
}
html{
    overflow-x: scroll;
}


body{
    background-color: ivory;
    margin: 0%;
    padding: 0;
}

header{
    background-image: url(https://res.cloudinary.com/doxxgebme/image/upload/v1732790923/bgA_itua91.jpg);
    height: 44vw;/*header height not image height*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 0%;
    background-color: black;
    padding: 2vw 3vw 0 3vw;
}

header::before{/*header fliter (pseudo class)*/
    content: "";
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.25;
}

.menu{
    display: none;/*menu shall not diplay for desktop modes*/
}

.header{
    /*The whole header sub. div*/
    position: relative;
    width: auto;
}

.header img{
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
}

.nav{
    list-style-type: none;
    display: inline-grid;
    grid-template-columns: 6vw 12vw 12vw 12vw;
    gap: 3vw;
    width: auto;
}

.nav li a{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

}

.nav li a:hover{
    text-decoration-style: dotted;
    color: cornsilk;
    font-size: 30px;
    text-underline-offset: 10px;
    text-decoration-thickness: 6px;
    background-color: rgba(240, 255, 255, 0.109);
}

.nav li .active{
    text-decoration-style: dotted;
    color: whitesmoke;
    font-size: 32px;
    text-underline-offset: 10px;
    text-decoration-thickness: 7px;
    text-decoration-color:rgb(240, 255, 255);
}

.contact{
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3vw;
    border: solid 2px whitesmoke;
    padding: 4px;
    border-radius: 10px 10px 10px 10px;
}
.contact a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.contact:hover{
    background-color: rgba(245, 245, 245, 0.616);
    box-shadow: wheat 3px 3px;
}


.name{
    position: static;
    text-align: center;
    font-size: 10vw;
    margin-top: 5vw;
    text-shadow: black 3px 3px 3px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;

}


.about{
    display: grid;
    grid-template-columns: 20% 79%;
    margin: 3vw 3vw 0 3vw;
}

.bout1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;   
}

.bout2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    line-height: 2vw;
}

.tab{
    margin: 4vw 0 0 0;
    padding: 0 4vw 0 4vw;
}
.tab table {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.tab tr{
    margin: 6em;
    height: 5em;
}

.tab th{
    font-size: 2.3vw;
    font-family: Arial, Helvetica, sans-serif;
}
.tab td{
    border-top: solid gray 5px;
    font-size: 2vw;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.emo{
    display: none;
}

.sales{
    margin: 5vw 3vw 0 3vw;
    display: grid;
    grid-template-columns: 30% 70%;
}

.pud{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

.pod{
    line-height: 4vw;
}

.pod strong{
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pod{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

.shortlet{
    display: grid;
    grid-template-columns: 20% 70%;
    margin: 5vw 3vw 0 3vw;
    gap: 9vw;
}
.sl1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

.sl2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    line-height: 2vw;
}
input[type=text], select{
    border: none;
    padding: 10px 5px 15px 5px;
    background-color: white;
    width: 20vw;
    height: 3vw;
    font-size: 1.5vw;
    border-bottom: solid 1px black;
}
input[type=text]:focus{
    border-bottom: solid 2px chocolate;
    padding: 3px 3px 7px 3px;
    background-color: whitesmoke;
    outline: 0em;
}
#error{
    color: red;
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 1vw;
    position: relative;
    top: -15px;
    font-size: 20px;
}
#submit{
    border-radius: 10px;
    width: 7vw;
    height: 2.7vw;
    background-color: brown;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 5px;
    margin-top: 1vw;
}

#submit:hover{
    background-color: white;
    color: brown;
}

footer{
    background-color: black;
    height: 30vw;
    margin-top: 4vw;
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 70%;
}

footer img {
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
    animation: rotate-360 8s linear infinite;
}

@keyframes rotate-360 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.foot{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 0vw;
    row-gap: 4vw;
    margin-top: 3vw;
}

.foot a{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration-line: none;
}

.foot a:hover{
    text-decoration-style: dotted;
    color: cornsilk;
    font-size: 26px;
    text-underline-offset: 10px;
    text-decoration-thickness: 6px;
    width: auto;
}
.cop{
    border-top: white solid 7px;
    text-align: center;
    color: white;
    width: 110%;
    margin-top: 3vw;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    grid-column: 1/3;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

@media screen and (max-width: 1026px) {
    .nav li a {
        font-size: 22px;
        text-underline-offset: 7px;
    }

    .nav li a:hover {
        font-size: 22px;
        text-decoration-thickness: 6px;
    }
    .nav li .active{
        font-size: 23px;
        text-underline-offset: 7px;
        text-decoration-thickness: 6px;
    }


    .contact a{
        font-size: 17px;
    }

    .tab tr{
        height: 4em;
    }

    .sl2 p {
        font-size: 1.7vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    #submit{
        font-size: 14px;
    }

    #error{
        font-size: 13px;
        top: -10px;
    }

    .foot{
        grid-template-columns: 25% 25% 28% 25%;
        gap: 2vw;
    }

    .foot a{
        font-size: 20px;
    }

    .foot a:hover{
        font-size: 21px;
    }
}

@media screen and (max-width: 923px) {
    .nav li a {
        font-size: 17px;
        text-decoration-thickness: 4px;
    }
    .nav li a:hover{
        font-size: 17px;
        text-decoration-thickness: 4px;
    }
    .nav li .active{
        font-size: 18px;
        text-underline-offset: 5px;
        text-decoration-thickness: 4px;
    }
    .contact{
        padding: 2px;
        border:  solid 1px white;
        border-radius: 5px 5px 5px 5px;
    }
    .contact:hover{
        box-shadow: 2px 2px wheat;
    }
    .contact a{
        font-size: 14px;
    }

    html::-webkit-scrollbar{
        width: 5px;
    }

    .bout2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.8vw;
        line-height: 2vw;
    }

    .tab tr{
        height: 3em;
    }

    .tab td{
        border-top: solid gray 3px;
    }

    .sl2 p{
        width: 94%;
    }

    #submit{
        font-size: 10px;
        text-align: center;
        border-radius: 7px;
        padding: 3px;
        margin-top: 2vw;
    }

    .pod{
        line-height: 5vw;
    }

    .foot{
        row-gap: 3vw;
    }

    .foot a{
        font-size: 15px;
    }

    .foot a:hover{
        font-size: 16px;
    }

    .cop{
        border-top: white solid 3px;
        font-size: 21px;
    }    
}

@media screen and (max-width: 500px) {
    .nav{
        display: none;
    }
    .contact{
        display: none;
    }
    .side-nav{
        width: 145px;
        position: absolute;
        border-radius: 5%;
        top: -5px;
        left: 264px;
        transition: left 2s;
        height: fit-content;
        background-color: white;
    }
    .side-nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .side-nav li{
        padding: 5px;
    }
    .side-nav a{
        color: black;
        text-decoration: none;
        display: block;
        width: auto;
        text-align: center;
    }
    .side-nav a:hover{
        background-color: lightblue;
    }
    .side-nav a.active{
        text-decoration: underline black dotted;
        text-decoration-thickness: bold;
        text-underline-offset: 4px;
    }
    /*
    .but-div{
        width: 100%;
        background-color: black;
        position: fixed;
    }
        */
    .menu{
        top: 15px;
        left: 10px;
        width: 30px;
        position: sticky;
        background-color: unset;
        color: azure;
        border-radius: 15%;
        padding: 2px;
        cursor: pointer;
        display: inline;
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
    }
    .menu:hover{
        box-shadow: black 1px 1px;
    }
    .menutooltip{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        color: white;
        background-color: black;
        border-radius: 15%;
        width: 14vw;
        padding: 2px;
        float: right;
        position: absolute;
        top: 37px;
        left: 70vw;
    }
    .cancel{
        background-color: unset;
        color: black;
        border: unset;
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .about{
        grid-template-columns: 100%;
        gap: 1vw;
    }
    .bout1{
        font-size: 4vw;
    }

    .bout2{
        font-size: 2.3vw;
        line-height: 2.7vw;
    }

    .tab tr{
        height: 1.5em;
    }

    .tab td{
        border-top: solid gray 2px;
    }

    .tab table{
        width: 96%;
    }

    .emo{
        display: table-cell;
    }

    .let{
        display: none;
    }

    .shortlet{
        grid-template-columns: 100%;
        gap: 1vw;
    }

    .sl1{
        font-size: 4vw;
    }

    .sl2{
        font-size: 2vw;
    }

    .sl2 p{
        font-size: 10px;
        line-height: 13px;
        width: 100%;
    }

    .sales{
        grid-template-columns: 100%;
        gap: 1vw;
    }

    .pod strong{
        font-size: 5vw;
    }

    .pod{
        font-size: 3vw;
        line-height: 6vw;
    }

    input[type=text], select{
        font-size: 2vw;
        padding: 10px 5px 15px 5px;
    }

    input[type=text]:focus{
        padding: 10px 5px 15px 5px;
    }

    #error {
        font-size: 9px;
        top: -5px;
    }

    #submit{
        width: 12vw;
        height: 5vw;
        margin-top: 2.9vw;
    }

    footer{
        height: 43vw;
        margin-top: 4vw;
    }

    .foot a{
        font-size: 10px;
    }

    .foot a:hover{
        font-size: 11px;
    }

    .cop{
        font-size: 15px;
    }

}

@media screen and (max-width: 380px) {
    .side-nav{
        left: 234px;
    }

    .bout2 {
        font-size: 3vw;
        line-height: 3vw;
    }

    .tab th {
        font-size: 2.9vw;
        font-family: Arial, Helvetica, sans-serif;
    }


    .tab td {
        font-size: 2.7vw;
    }

    .sl2 {
        font-size: 1.6vw;
    }

    .sl2 p {
        font-size: 11px;
    }

    .pud {
       font-size: 3vw;
    }

    #error {
        font-size: 8px;
        top: -3px;
    }
 
     #submit{
         margin-top: 3vw;
     }

    .foot a{
        font-size: 9px;
    }

    .foot a:hover{
        font-size: 9px;
    }
}


