*{
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
}

html::-webkit-scrollbar{
    width: 10px;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-thumb{
    background: brown;
    border-radius: 20px;
}
html::-webkit-scrollbar-thumb:hover{
    background: chocolate;
}
html{
    overflow-x: scroll;
}


body{
    background-color: ivory;
    margin: 0%;
    padding: 0;
}

header{
    height: 12vw;/*header height not image height*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 0%;
    background-color: white;
    padding: 2vw 3vw 0 3vw;
    z-index: 1;
    box-shadow: 8px 6px 10px 8px gray;
    position: relative;
}

.header img {
    width: 9vw;
    height: 9vw;
    border-radius: 100%;
    position: relative;
    bottom: 1vw;
}

.menu{
    display: none;/*menu shall not diplay for desktop modes*/
}

.header{
    /*The whole header sub. div*/
    position: relative;
    width: auto;
}

.nav{
    list-style-type: none;
    display: inline-grid;
    grid-template-columns: 6vw 12vw 12vw 6vw;
    gap: 3vw;
    width: auto;
    position: relative;
    bottom: 4vw;
}

.nav li a{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}

.nav li a:hover{
    text-decoration-style: dotted;
    color: gray;
    font-size: 30px;
    text-underline-offset: 10px;
    text-decoration-thickness: 6px;
    background-color: rgba(240, 255, 255, 0.109);
}

.nav li .active{
    text-decoration-style: dotted;
    color: black;
    font-size: 32px;
    text-underline-offset: 10px;
    text-decoration-thickness: 7px;
    text-decoration-color:rgb(61, 63, 63);
}

.contact{
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3vw;
    border: solid 2px gray;
    padding: 4px;
    border-radius: 10px 10px 10px 10px;
}
.contact a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.contact:hover{
    background-color: rgba(245, 245, 245, 0.616);
    box-shadow: wheat 3px 3px;
}

h1{
    font-size: 7vw;
    margin: 5vw auto auto 8vw;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.BG{
    margin: 5vw 10vw auto 8vw;
    display: grid;
    gap: 5vw;
    grid-template-columns: 30% 30% 30%;
}

.BG a:hover{
    font-size: 16.5px;
    z-index: 2;
    position: relative;
}

.BG div img{
    width: 22em;
    height: 22em;
}

.BG a{
    text-decoration: none;
    font-weight: bold;
}

.BG div p{
    font-size: 21px;
}
.BG div .date{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.pagin{
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 2vw;
}

.pagin a{
    text-decoration: none;
    color: gray;
    margin: 0 .5vw 0 .5vw;
    text-align: center;
    font-size: 20px;
}

.pagin a:hover{
    background-color: burlywood;
    width: 3vw;
    height: 2vw;
    color: black;
}

.pagin .active{
    font-weight: bold;
    background-color: antiquewhite;
    color: brown;
    width: 3vw;
    height: 2vw;
}


footer{
    background-color: black;
    height: 30vw;
    margin-top: 4vw;
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 70%;
}

footer img {
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
    animation: rotate-360 8s linear infinite;
}

@keyframes rotate-360 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.foot{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 0vw;
    row-gap: 4vw;
    margin-top: 3vw;
}

.foot a{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration-line: none;
}

.foot a:hover{
    text-decoration-style: dotted;
    color: cornsilk;
    font-size: 26px;
    text-underline-offset: 10px;
    text-decoration-thickness: 6px;
    width: auto;
}
.cop{
    border-top: white solid 7px;
    text-align: center;
    color: white;
    width: 110%;
    margin-top: 3vw;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    grid-column: 1/3;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

@media screen and (max-width: 1026px) {
    .nav li a {
        font-size: 22px;
        text-underline-offset: 7px;
    }
    
    .nav li a:hover {
        font-size: 22px;
        text-decoration-thickness: 6px;
    }
    .nav li .active{
        font-size: 23px;
        text-underline-offset: 7px;
        text-decoration-thickness: 6px;
    }
    
    .contact a{
    font-size: 17px;
    }

    .BG{
        margin: 5vw 8vw auto 6vw;
    }

    .BG div img {
        width: 18em;
        height: 18em;
    }
    .foot{
        grid-template-columns: 25% 25% 28% 25%;
        gap: 2vw;
    }

    .foot a{
        font-size: 20px;
    }

    .foot a:hover{
        font-size: 21px;
    }

}

@media screen and (max-width: 923px) {
    .nav li a {
        font-size: 17px;
        text-decoration-thickness: 4px;
    }
    .nav li a:hover{
        font-size: 17px;
        text-decoration-thickness: 4px;
    }
    .nav li .active{
        font-size: 18px;
        text-underline-offset: 5px;
        text-decoration-thickness: 4px;
    }
    .contact{
        padding: 2px;
        border:  solid 1px white;
        border-radius: 5px 5px 5px 5px;
    }
    .contact:hover{
        box-shadow: 2px 2px wheat;
    }
    .contact a{
        font-size: 14px;
    }

    html::-webkit-scrollbar{
        width: 5px;
    }

    .BG div img {
        width: 13em;
        height: 13em;
    }

    .BG div p{
        font-size: 12px;
    }

    .pagin a{
        font-size: 12px;
    }

    .foot{
        row-gap: 3vw;
    }

    .foot a{
        font-size: 15px;
    }

    .foot a:hover{
        font-size: 16px;
    }

    .cop{
        border-top: white solid 3px;
        font-size: 21px;
    }

}

@media screen and (max-width: 500px) {
    .nav{
        display: none;
    }
    .contact{
        display: none;
    }
    .side-nav{
        width: 145px;
        position: absolute;
        border-radius: 5%;
        top: -5px;
        left: 264px;
        transition: left 2s;
        height: fit-content;
        background-color: black;
    }
    .side-nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .side-nav li{
        padding: 5px;
    }
    .side-nav a{
        color: white;
        text-decoration: none;
        display: block;
        width: auto;
        text-align: center;
    }
    .side-nav a:hover{
        background-color: burlywood;
    }
    .side-nav a.active{
        text-decoration: underline white dotted;
        text-decoration-thickness: bold;
        text-underline-offset: 4px;
    }
    /*
    .but-div{
        width: 100%;
        background-color: black;
        position: fixed;
    }
        */
    .menu{
        top: 11px;
        left: 11vw;
        width: 30px;
        position: sticky;
        background-color: unset;
        border: none;
        color: azure;
        border-radius: 15%;
        padding: 2px;
        cursor: pointer;
        display: block;
        float: right;
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        margin: 20vw auto auto 3vw;
        font-size: 10vw
    }
    .menu:hover{
        box-shadow: black 2px 2px;
    }
    .menutooltip{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        color: black;
        background-color: white;
        border-radius: 15%;
        width: 14vw;
        padding: 2px;
        float: right;
        position: absolute;
        top: 37px;
        left: 70vw;
    }
    .cancel{
        background-color: unset;
        color: white;
        border: unset;
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    header {
        height: 15vw;
        box-shadow: 8px 6px 10px 0px gray;
        position: fixed;
        width: 100%;
        top: -0.6vw;
        opacity: 1;
    }

    .header img {
        width: 12vw;
        height: 12vw;
        border-radius: 100%;
        position: relative;
        bottom: 1vw;
    }

    .BG{
        grid-template-columns: 50% 50%;
        margin: 5vw 8vw auto 3vw;
    }

    .BG div img {
        width: 11em;
        height: 11em;
    }

    .BG div p{
        font-size: 10px;
    }

    .pagin a{
        font-size: 10px;
    }
    
    footer{
        height: 43vw;
        margin-top: 4vw;
    }

    .foot a{
        font-size: 10px;
    }

    .foot a:hover{
        font-size: 11px;
    }

    .cop{
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .side-nav{
        left: 225px;
    }
    .BG div img {
        width: 10.5em;
        height: 10em;
    }
    .foot a{
        font-size: 7px;
    }

    .foot a:hover{
        font-size: 7px;
    }
}
